* {
  margin: 0;
  padding: 0;
}

.app {
  overflow: hidden;
}
/*header navbar*/
header.header {
  height: var(--header-height);
  /* background: linear-gradient(-180deg,#f53d2d,#f63); */
  border-bottom: 2px solid rgba(34, 34, 34, 0.07);
}

.header__navbar-list {
  /* margin-top: 12px; */
  padding-left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: calc(var(--header-height) - var(--header-with-search-height));
  position: relative;
}

.header__navbar-content.navbar-on-mobile {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

@keyframes navbar-display {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes navbar-hide {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

.header__navbar {
  width: 100%;
}
li.header__navbar-item {
  list-style: none;
}

li.header__navbar-item:hover {
  border-bottom: 2px solid var(--text-color);
  cursor: pointer;
}

li.header__navbar-item:hover ul.navbar-menu2 {
  display: flex;
}

span.header__navbar-name {
  font-size: 1.3rem;
}

.header__content-title {
  width: 100%;
  height: 100%;
  padding: 30px 12px 12px 12px;
  font-family: "Guardian-EgypTT", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 3.2rem;
  text-align: center;
  line-height: 36px;
}

/*header seach*/
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.header__mobile-search {
  display: none;
}

.navbar__toggle {
  width: 48px;
  height: 48px;
  padding: 12px;
  display: none;
}

.header__toggle-search {
  flex: 1;
  display: flex;
  align-items: center;
}

button.toggle {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar__toggle {
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
}

.navbar__toggle:hover {
  background: rgba(34, 34, 34, 0.07);
}

.toggle span.etsy-icon,
span.menu-title .etsy-icon {
  color: var(--text-color);
}

span.menu-title .etsy-icon {
  position: absolute;
  top: 16px;
  left: 15px;
  z-index: 100;
}

.header__logo {
  height: 100%;
  margin-right: 10px;
}
.header__logo a {
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-img {
  width: 60px;
  height: 60px;
}

.form {
  /* background: rgba(34, 34, 34, 0.07); */
  height: 48px;
  flex: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
  border-radius: 96px;
  border: 1px solid rgba(34, 34, 34, 0.3);
  transition: 0.5s;
}

.header__sign-in--text {
  font-size: 2rem;
}

.header__sign-in {
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 96px;
  transition: 0.5s;
}

.header__sign-in:hover {
  background: rgba(34, 34, 34, 0.07);
  cursor: pointer;
}

/*cart*/
.header__cart_sign-in {
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
}
.header__cart-icon {
  font-size: 2.4rem;
  color: var(--black-color);
  margin-top: 50%;
  transform: translateY(-50%);
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  width: 45px;
  height: 45px;
  transition: 0.5s;
  border-radius: 50%;
}
.header__cart-wrap:hover {
  background: rgba(34, 34, 34, 0.07);
}

.header__cart-wrap:hover .header___cart-list {
  display: block;
}

.header__cart-notice {
  position: absolute;
  padding: 1px 7px;
  background: var(--white-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
  right: -9px;
  top: 1px;
}

.header__cart-description {
  width: 50px;
  height: 40px;
  /* text-align: center; */
  background: var(--text-color);
  border-radius: 6px;
  visibility: hidden;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -10px;
  opacity: 0;
  line-height: 40px;
  transition: 0.4s;
  margin-top: 5px;
  position: relative;
  z-index: 1;
}

span.header__cart-tooltip {
  font-size: 1.6rem;
  color: var(--white-color);
}

.header__cart-description::before {
  position: absolute;
  top: -42%;
  left: 23px;
  content: "";
  border: 10px solid;
  border-color: transparent transparent var(--text-color) transparent;
}

.header__cart-wrap:hover .header__cart-description {
  opacity: 1;
  visibility: visible;
}

/* carousel */
a.carousel__bottom-link {
  text-decoration: none;
  color: var(--text-color);
}

.carousel__bottom-title {
  height: 80px;
  background: var(--green-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.carousel__top-img {
  height: 100%;
}

.carousel__top {
  height: 222px;
  position: relative;
}

img.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row.carousel {
  padding: 18px 0 0 0;
}

.carousel__right {
  width: 66.67%;
}

.carousel__right-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

p.banner__title--small {
  font-size: 1.6rem;
  color: black;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 0;
}

span.banner__title--big {
  font-size: 2.8rem;
  color: var(--text-color);
  line-height: 28px;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

.banner__title-text {
  margin-top: 50%;
  transform: translateY(-50%);
}

a.carousel__left-link {
  color: var(--text-color);
  display: block;
  height: 100%;
  border: 1px solid rgba(34, 34, 34, 0.07);
}

a.carousel__top-link,
a.carousel__bottom-link {
  border: 1px solid rgba(34, 34, 34, 0.07);
}

.banner__title {
  padding: 18px;
  height: 100%;
  text-align: center;
}

.carousel__left {
  width: 33.33%;
  height: 100%;
}

.carousel-container {
  height: 320px;
  background: var(--green-color);
  display: flex;
}

.carousel__top-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12px 18px;
}

h3.banner__title {
  text-align: left;
  color: var(--text-color);
  font-weight: 600;
  font-size: 2rem;
  padding: 0;
}

.carousel__top-title {
  width: 50%;
}

/* introduce */
.introduce__title {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 5px;
}

.introduce__content {
  max-width: 80%;
  margin: auto;
  font-size: 1.4rem;
}

.row.introduce {
  text-align: center;
  margin: 30px 0 0 0;
  padding: 12px;
}

.introduce__title i {
  color: orange;
  font-size: 2rem;
}

/*search*/
.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
  overflow: hidden;
  background: rgba(34, 34, 34, 0.07);
  border-top-left-radius: 96px;
  border-bottom-left-radius: 96px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form:hover {
  border-color: rgba(34, 34, 34, 1);
}
.submit-btn {
  background: rgba(34, 34, 34, 0.07);
  border: none;
  outline: none;
  height: 48px;
  width: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 96px;
  border-bottom-right-radius: 96px;
  overflow: hidden;
  transition: 0.5s;
}

.submit-btn:focus {
  outline: none;
}
.header__search:hover {
  border: 1px solid rgba(34, 34, 34, 1);
}

.submit-btn:hover {
  background: #939393;
  cursor: pointer;
}

.header__search-btn-icon {
  color: var(--black-color);
  font-size: 1.8rem;
}

/*search*/
.input__wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-history-heading {
  margin: 6px 16px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.popular-item-list {
  /* margin-top: -8px; */
}

.input:focus {
  /*tác động vào thẻ con nhưng k thuộc div này*/
  background: var(--white-color);
  box-shadow: 0 1px 5px #666;
}

.input:focus- ~ .header__search-btn {
  box-shadow: 0 0px 5px #666;
}

.input:focus-within .submit-btn {
  box-shadow: 0 0px 5px #666;
}

.header__search-history {
  position: absolute;
  top: calc(100% + 13px);
  left: 0;
  width: 100%;
  background: var(--white-color);
  box-shadow: 0 1px 5px #666;
  border-radius: 5px;
  display: none;
  z-index: 1000;
  list-style: none;
  height: 350px;
}

.search-item {
  list-style: none;
  height: 30px;
  padding: 0 16px;
}

.popular-item:hover,
.recently:hover {
  background: #fafafa;
  cursor: pointer;
}

.search-item a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--text-color);
  line-height: 30px;
}

.header__search-history-heading {
  margin: 6px 16px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.search-list {
  margin-bottom: 0;
}

.header__search-input:focus ~ .header__search-history {
  /*tác động vào thẻ con nhưng k thuộc div này*/
  display: block;
}

.search-title {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

a.recently-img img {
  height: 150px;
  width: 200px;
  transition: 0.5s;
}

a.recently-img:hover img {
  box-shadow: 0 1px 5px #666;
}

h4.recently-name {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.6rem;
  height: 18px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/*footer*/
footer.footer {
  height: 1000px;
}

/* footer top */
.background__shape-top {
  height: 100%;
}

.wt-fill-denim-tint {
  fill: #d7e6f5 !important;
}

.footer {
  background-color: #d7e6f5 !important;
}
input.input.subcribe__input {
  background: var(--white-color);
}

.subcribe {
  background: var(--white-color);
}

button.submit-btn.subcribe__btn {
  width: 80px;
  font-size: 1.4rem;
  font-weight: 400;
}

p.footer__mail-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 18px;
}

.footer__mail {
  padding: 36px 0;
  text-align: center;
}

form.subcribe.form {
  max-width: 480px;
  margin: auto;
  margin-bottom: 18px;
}

.wt-fill-denim {
  fill: #2f466c !important;
}

/* footer bottom  */
.footer__navbar {
  background: #2f466c;
  padding: 36px 24px 24px;
}

h3.footer__navbar-title {
  color: var(--white-color);
  font-size: 1.6rem;
}

li.footer__navbar-item {
  font-size: 1.3rem;
  padding: 6px 0;
  line-height: 1.8rem;
}
ul.footer__navbar-list {
  list-style: none;
}

a.footer__nabar-link {
  text-decoration: none;
  color: var(--white-color);
}

a.footer__nabar-link:hover {
  text-decoration: underline;
}
.etsy-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  vertical-align: middle;
  width: 24px;
  color: var(--white-color);
}

span.download_app-text {
  font-size: 1.6rem;
  color: var(--white-color);
  font-weight: 600;
}

a.download_app {
  display: flex;
  border: 2px solid white;
  border-radius: 96px;
  justify-content: space-around;
  width: 80%;
  padding: 5px;
}

a.download_app:hover {
  box-shadow: 0 0px 3px var(--white-color);
}

.footer__navbar-follow {
  margin-top: 36px;
}

ul.follow-list {
  list-style: none;
  padding-top: 18px;
}

a.follow-link {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 50%;
}

a.follow-link:hover {
  cursor: pointer;
  background: #3f5477;
}

a.follow-link .etsy-icon {
  width: 35px;
  height: 35px;
}

/* footer info   */
.footer_info {
  background: #232347;
  padding: 18px 0;
}

button.info-text {
  border: none;
  background: none;
  font-size: 1.2rem;
  color: var(--white-color);
  line-height: 1.3rem;
  padding: 9px 15px;
  font-weight: 700;
  transition: 0.5s;
}

span.info-lang {
  margin: 0 10px;
}

button.info-text:hover {
  background: #333355;
  border-radius: 96px;
}

ul.info_right-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  height: 100%;
}

li.info_right-item,
a.info_right-link {
  color: var(--white-color);
  line-height: 18px;
  font-size: 1.3rem;
}

.info_right {
  height: 100%;
}

a.info_right-link {
  text-decoration: underline;
}
/* slider  */
/* .slick-slide {
  margin: 0px 20px;
} */

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

h2.title-slider {
  margin: 20px 0;
  font-weight: 600;
}

a.gifts-link {
  display: block;
  border: 1px solid #e1e3df;
}

span.gifts-cart-title {
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  padding: 10px 8px;
  line-height: 38px;
}

.header__navbar-name:hover ~ .header__search-history {
  display: block;
}

.backgroud__shape {
  line-height: 0;
}

.recently__info {
  display: flex;
  /* align-items: center; */
  padding: 10px 0;
  flex-direction: column;
}

span.recently-price {
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
}
a.recently-link {
  color: var(--black-color);
  outline: none;
}

a.recently-link:hover img {
  box-shadow: 0 1px 5px #ccc;
}

a.recently-link img,
a.gifts-link img {
  height: 150px !important;
  width: 100%;
}

span.recently-freeship {
  font-size: 1.3rem;
  display: block;
  background: #d4e9d7;
  border-radius: 96px;
  margin: 0 10px;
  padding: 0px 5px;
  font-weight: 500;
}

/* //menu2 */

ul.navbar-menu2 {
  position: absolute;
  width: 100%;
  text-align: left;
  top: 100%;
  left: 12px;
  list-style: none;
  right: 0;
  background: var(--white-color);
  box-shadow: 0 1px 5px #666;
  border-radius: 5px;
  z-index: 300;
  list-style: none;
  display: none;
}

a.menu2__item-link {
  color: var(--text-color);
  font-size: 1.4rem;
}

li.menu2__item {
  display: block;
  padding: 12px;
}

li.menu2__item:first-child {
  font-size: 1.6rem;
  font-weight: 700;
}

li.menu2__item:first-child:hover {
  background: none;
}

li.menu2__item:hover {
  background: rgba(34, 34, 34, 0.07);
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 1;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal__body {
  background: var(--white-color);
  position: absolute;
  border-radius: 5px;
  right: 0;
  top: 0;
  width: 33%;
  height: 100%;
  transition: 0.5s;
  z-index: 2000;
}

/*js*/
.showModal {
  opacity: 1;
  visibility: visible;
}

.display {
  transition: 1s;
  transform: translateX(100%);
}

.cart__empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2.cart__empty-title {
  font-size: 2.4rem;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
}

.cart__empty-container {
  width: 50%;
}

p.cart__empty-content {
  font-size: 1.4rem;
  line-height: 20px;
  margin-bottom: 30px;
  color: #bbb;
}

.cart-btn {
  width: 100%;
  text-transform: uppercase;
  background: #f58367;
  border: none;
  padding: 15px 45px;
  color: var(--white-color);
  font-size: 1.6rem;
  line-height: 16px;
  border-radius: 8px;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.5s;
  text-align: center;
}

.cart-btn:hover {
  cursor: pointer;
  opacity: 1;
  border-color: #f4795b;
}

a.cart__action-link {
  color: var(--white-color);
}

.icon-close {
  background: url(https://cdn.shopify.com/s/files/1/0021/4889/2732/t/263/assets/cart-close-button-icon.svg?v=4912037976349015044)
    no-repeat;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  z-index: 3000;
  background-size: cover;
}
.icon-close:hover {
  cursor: pointer;
}

ul.header__navbar-list.navbar-on-mobile .icon-close {
  right: 15px;
  top: 18px;
}

.cart__header {
  padding: 12px 0;
  margin: 0 15px;
  border-bottom: 1px solid #666;
}

span.cart__header-title {
  font-family: "Avenir Next LT Pro", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #3a3a3a;
  display: block;
  margin-bottom: 0;
}

.cart__timer {
  background: #f7ece4;
  border-radius: 8px;
  padding: 11px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px 15px;
}
span.timer-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url(https://cdn.shopify.com/s/files/1/0021/4889/2732/t/263/assets/clock-icon.svg?v=1046092…);
  background-position: center;
  background-repeat: no-repeat;
  background-color: initial;
  display: block;
}

span.timer-message {
  color: #1b1919;
  font-weight: normal;
  margin-top: 2px;
  font-size: 1.6rem;
}

.cart__product table {
  width: 100%;
}

.cart__product {
  padding: 0 15px;
  overflow-y: auto;
  max-height: 75vh;
}

table .cart-item td:first-child {
  width: 25%;
  padding-left: 0px;
}

img.cart-item-img {
  width: 100%;
  /* height: 100%; */
}

table .cart-item td:last-child {
  width: 25%;
  text-align: right;
  position: relative;
  padding-right: 0;
}

table .cart-item td {
  vertical-align: top;
  padding: 15px;
}

.cart__remove-item {
  background-image: url(https://cdn.shopify.com/s/files/1/0021/4889/2732/t/263/assets/remove-x.svg?v=7960167932932246021);
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  width: 18px;
  height: 18px;
  padding: 0;
  position: absolute;
  top: 10%;
  right: 0;
}

span.cart__price-item-final {
  font-size: 18px;
  font-family: "Avenir Next LT Pro Demi", Arial, Helvetica, sans-serif;
}

.cart__price-item {
  position: absolute;
  bottom: 0;
  right: 0;
}

tr.cart-item {
  border-bottom: 1px solid #bbb;
}

a.cart__item-title {
  font-family: "Avenir Next LT Pro Demi", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #3a3a3a;
  line-height: 16px;
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
  text-decoration: none;
}

.cart-item-option {
  color: #bbb;
  margin-bottom: 15px;
  font-size: 14px;
}

.cart-item__quantity {
  align-items: stratch;
  border: 1px solid #1b1919;
  border-radius: 8px;
  display: inline-flex;
  display: -ms-inline-flexbox;
  flex-direction: row;
  justify-content: center;
  height: 40px;
}

input.minus-button,
input.plus-button {
  background-color: transparent;
  border: none;
  color: #1b1919;
  font-family: "Avenir Next LT Pro Demi", Arial, Helvetica, sans-serif;
  transition: all 0.2s ease;
  width: 20px;
  font-size: 1.2rem;
}

input.item__quantity-input {
  -webkit-appearance: textfield;
  appearance: textfield;
  border: none;
  color: #1b1919;
  font-family: "Avenir Next LT Pro Demi", Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 40px;
  font-size: 1.2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.cart-item__quantity input:focus {
  outline: none;
}

.cart-item__quantity input:hover {
  cursor: pointer;
}

.cart__remove-item:hover {
  cursor: pointer;
}

.cart__footer {
  width: 100%;
  margin-top: auto;
  padding: 15px;
  -webkit-box-shadow: 0px -3px 6px 0px #e5e5e5;
  -moz-box-shadow: 0px -3px 6px 0px #e5e5e5;
  box-shadow: 0px -3px 6px 0px #e5e5e5;
}

span.cart__footer-summary-title,
span.cart__footer-summary-total {
  font-size: 1.6rem;
  line-height: 16px;
}

span.cart__footer-summary-total {
  font-weight: 700;
}

.cart__footer-summary {
  margin-bottom: 15px;
  text-align: center;
}

/* product detail  */

img.product__detail-img--small {
  width: 100%;
}
ul.product-img-list {
  list-style: none;
}

.product-img-item {
  border: 1px solid #80808057;
  margin-bottom: 5px;
}

.product-img-item:hover {
  cursor: pointer;
  box-shadow: 0 1px 3px #666;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: #5f5b5b;
  border-radius: 50%;
}

.row.product__detail {
  /* max-height: 100vh; */
  padding: 20px 0;
}
.detail--options {
  width: 80%;
  margin: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1.product__detail-title {
  color: #3a3a3a;
  display: grid;
  font-family: "Avenir Next LT Pro", Arial, Helvetica, sans-serif;
  font-size: 2.9rem;
  line-height: normal !important;
  margin-bottom: 0;
}

i.product__detail-item-star-gold.fas.fa-star {
  color: var(--gold-color);
}

span.star-rating {
  zoom: 1.6;
  margin: 0 3px 0 0 !important;
  vertical-align: middle;
}

span.star-rating i {
  cursor: pointer;
}

i.fas.fa-star {
  color: lightgrey;
}

span.product__detail-review {
  color: #3a3a3a;
  font-size: 1.2em;
  vertical-align: text-top;
}

.product__detail-item__price {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}
span.product__detail-item__price-old {
  margin-left: 10px;
  color: #3a3a3a;
  text-decoration: line-through;
}

span.product__detail-item__price-new {
  color: #d3373c;
  font-weight: 700;
}

span.sale_special_day {
  background-color: #d3373c;
  border-radius: 6px;
  color: #fff;
  font-size: 1.6rem;
  margin-left: 10px;
  padding: 3px;
  display: inline-block;
  font-weight: 700;
}

h4.countdown_product_page.timer_2 {
  background: #f7ece4;
  border-radius: 2px;
  display: flex;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px;
  position: relative;
  height: 41px;
  justify-content: center;
}

label.color-lbl-text,
label.color-lbl-size {
  display: block;
  padding: 0 5px;
  border: 2px solid #dbddde;
  font-weight: 600;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  border-radius: 50%;
  margin-left: 10px;
}

label.color-lbl-text:hover,
label.color-lbl-size:hover {
  cursor: pointer;
}

input.lbl-radio.ez-attr {
  display: none;
}

span.select-color-title {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
}

.select-color,
.select-size {
  display: flex;
  /* align-items: center; */
}

.select-color-item {
  display: flex;
}

label.color-lbl-text.active {
  box-shadow: 0 1px 5px #666;
}

label.color-lbl-size {
  border-radius: 6px;
  width: 50px;
  text-indent: 0;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

label.color-lbl-size {
  border-radius: 6px;
  width: 50px;
  text-indent: 0;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

label.color-lbl-size.active {
  background: var(--text-color);
  color: var(--white-color);
}

.disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.chart-links {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

a.size-chart-popup-trigger,
a.openFitChartTrigger {
  color: #3a3a3a;
  font-family: "Avenir Next LT Pro", Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.form-text {
  background: #f7ece4;
  border-radius: 20px;
  font-size: 1.3rem;
  padding: 18px;
  text-align: center;
}
.select-quantity {
  width: 60px;
  align-items: stratch;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  color: #1b1919;
  height: 50px;
  justify-content: center;
  margin-right: 0;
  white-space: nowrap;
  position: relative;
}
.select-quantity:focus {
  outline: none;
}

select.input-text.qty.text {
  background: transparent;
  height: 100%;
  border: 0px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  font-family: "Avenir Next LT Pro Demi", Arial, Helvetica, sans-serif;
  padding-left: 19px;
  font-size: 1.4rem;
  outline: none;
}

.select-quantity-addcart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add_cart-button {
  width: 100%;
  margin-left: 20px;
}

.delivery-icon-container {
  display: flex;
  align-items: center;
}

.delivery-text-1 {
  font-size: 1.4rem;
  margin-left: 16px;
}

div#nosto_pdp_iconsbelowatc {
  display: flex;
  justify-content: space-around;
}

.tiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product__detail-zoom {
  position: relative;
  float: left;
  width: 100%;
  height: 600px;
  overflow: hidden;
  cursor: zoom-in;
  top: 0;
  left: 0;
}

.product__detail-zoom-in {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s ease-out;
}

.product__detail-zoom::before {
  content: "SUMMER SALE";
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  background: rgba(212, 96, 92, 1);
  z-index: 1;
  display: flex;
  border-radius: 0 0px 5px 0;
  color: white;
  font-size: 1.4rem;
  align-items: center;
  padding: 10px;
  font-weight: 700;
}

.product__detail-zoom::after {
  content: "Best Seller";
  position: absolute;
  top: 80%;
  left: 0;
  height: 30px;
  width: 100px;
  background: var(--white-color);
  z-index: 1;
  display: flex;
  border-radius: 0 0px 5px 0;
  color: var(--text-color);
  font-size: 1.4rem;
  align-items: center;
  padding: 10px 15px;
  font-weight: 500;
}

/* category mobile */
li.header__navbar-item.category {
  text-align: center;
}

.header__navbar-item span.etsy-icon.float-right {
  color: var(--text-color);
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* z-index: 150; */
}

button.btn-action-menu {
  border: none;
  background: none;
  padding: 12px;
  transition: 0.5s;
}

button.btn-action-menu span {
  color: var(--text-color);
}

.menu2-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 21px;
}

/* slider   */

button.slick-arrow {
  position: absolute;
  z-index: 1;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #323232;
  overflow: hidden;
  outline: none;
  font-size: 2rem;
  color: #323232;
  cursor: pointer;
  transition: 0.5s;
  top: 40%;
  transform: translateY(-50%);
}

button.slick-next.slick-arrow {
  right: -1%;
}

button.slick-prev.slick-arrow {
  left: -1%;
}

.product__detail-slide button.slick-next.slick-arrow {
  right: 3px;
}

.product__detail-slide button.slick-prev.slick-arrow {
  left: 3px;
}

button.slick-arrow.slick-disabled,
button.slick-arrow.slick-disabled:hover {
  opacity: 0.5;
  background: #fff;
  color: #323232;
}

button.slick-arrow:hover {
  background: var(--btn-color);
  color: var(--white-color);
}

/* recently */
a:focus {
  outline: none;
}

.product__item-img,
.detail-product__item-img {
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

button.btn.btn-add-cart {
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  border-radius: 0;
}

button.btn.btn-add-cart:hover {
  color: var(--white-color);
  background: var(--btn-color);
}

h4.product__item-name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.6rem;
  margin: 0;
  height: 1.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

span.product__item-category {
  color: #595959;
  font-size: 1.2rem;
  opacity: 0.7;
}

.product__item-rating {
  display: flex;
  font-size: 1.2rem;
}

i.product__item-star-rating.fas.fa-star {
  color: var(--btn-color);
}

.product__item-rating-info {
  margin-right: 10px;
}

.product__item-price {
  font-size: 1.4rem;
  font-weight: 500;
}

span.product__item-price-old {
  color: #2e8539;
  text-decoration: line-through;
}

span.product__item-price-new {
  margin-right: 5px;
}

.product__item-info {
  margin-top: 10px;
}

a.product__item {
  display: block;
  position: relative;
}
span.product__item-like {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.6rem;
  color: var(--white-color);
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__item-like-icon.like-hidden {
  display: none;
}

span.product__item-like:hover {
  transform: scale(1.2);
}

a.product__item:hover span.product__item-like {
  visibility: visible;
  opacity: 1;
}
/* 
.slick-slider.product__detail-slide.slick-initialized {
  margin: 20px -10px;

} */

.slick-slider__slide.detail-product__item.slick-slide {
  /* margin: 0 10px; */
}

.product__detail-slide button.slick-arrow {
  width: 20px;
  height: 20px;
  font-size: 1.6rem;
  top: 50%;
}

.slick-slider.product__detail-slide {
  margin-top: 20px;
}

.product__detail-info {
  height: 85%;
}

/* dots tren mobile */
ul.slick-dots {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  width: 100%;
}

ul.slick-dots li {
  margin-right: 10px;
}

ul.slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-indent: -9999px;
  outline: none;
  border: none;
  background: #666;
}
ul.slick-dots li.slick-active button {
  background: white;
  border: 1px solid #707979;
}

.recently-slider ul.slick-dots,
.best-seller-slider ul.slick-dots,
.related-slider ul.slick-dots {
  position: unset;
  margin: 10% 0;
}


/* tabs detail */

ul.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}

.product__detail-tab-wrapper {
  background: #faf7f2;
  margin: 10px 0 30px;
  padding-bottom: 15px;
  padding-top: 36px;
}

 h2.title {
  color: #3a3a3a;
  padding: 10px 15px 7px;
  font-size: 2rem;
  display: inline-block;
  height: 100%;
  line-height: 36px;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 0;
}

li.tab-title {
  display: block;
  width: 100%;
  
}



li.tab-title.active h2::before {
  bottom: 0;
  border-bottom: 5px solid #f7a08b;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

li.tab-title.active h2{
  font-weight: 500;
}


.tab-content {
  padding-bottom: 25px;
  padding-top: 20px;
  display: none;
}


.tab-content:first-child{
  display: block;
}

.tab-content-detail {
  font-size: 1.8rem;
}

h2.title-slider.related-title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
}

.tab-content h2.title {
  display: flex;
  padding: 15px 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19px;
  justify-content: space-between;
  align-items: center;
}

.tab-content h2.title i {
  transition: 0.5s;
}

.tab-content h2.title i.rotate{
  transform: rotate(-180deg);
}

.display-none{
 display: none !important;   
}
.display-block{
  display: block !important;  
}

